.scrubber-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;

    width: 100%;

    .scrubber-counter {
        font-size: 13px;
    }

    .scrubber-styled {
        position: relative;

        height: 3px;
        width: 95%;

        background: #292f36;

        .scrubber-progress {
            height: 100%;
            background: #9424ae;
        }

        .scrubber-marker {
            position: absolute;
            top: -2px;

            height: 8px;
            width: 8px;
            border-radius: 100%;

            background: #9424ae;
        }
    }
}