.player-styled {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    position: absolute;
    bottom: 0;

    height: 175px;
    width: 100%;

    padding: 1rem;

    background: #07001c;
    color: #fff;

    border-top: 1px solid #2e363e;

    z-index: 1000;

    .player-nowplaying {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        .nowplaying-track {
            display: flex;
            align-items: center;
            gap: 1rem;

            font-size: 12px;

            .nowplaying-artwork {
                height: 40px;
                width: 40px;
                background-color: #9c3cbb;
                border-radius: .12rem;

                img {
                    width: 100%;
                    height: 100%;

                    &.playing {
                        animation: spinClockwise 2.5s linear infinite;
                    }
                }
            }

            .nowtext-song {
                color: #fff;
                margin-bottom: .35rem;
                font-weight: 600;
            }
        }

        .nowplaying-icons {
            display: flex;
            align-items: center;
            gap: .5rem;

            svg {
                height: 24px;
            }
        }
    }

    .player-scrubber {
        width: 100%;
    }

    .player-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;


        button {
            display: flex;
            align-items: center;
            justify-content: center;

            background: none;
            border: none;

            cursor: pointer;

            svg {
                width: 32px;
                color: #7e8185;
            }

            &.play-pause svg {
                width: 54px;
                background: #201a33;
                border-radius: 100%;
                padding: .5rem;
            }

            &.loop-shuffle {
                transition: transform .5s;

                svg {
                    width: 24px;
                }

                &.looping,
                &.shuffled {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.player-ambience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    position: absolute;
    bottom: 0;

    height: 175px;
    width: 100%;

    padding: 1rem;
    overflow: hidden;

    background: #07001c;
    border-top: 1px solid #2e363e;

    transition: all .2s;

    .ambience-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        svg {
            width: 24px;
        }
    }

    .button-group {

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        .ambience-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;

            .button-clickarea {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;

                font-size: 12px;

                svg {
                    height: 24px;
                    width: 24px;
                }
            }

            input[type='range'] {
                appearance: none !important;
                -webkit-appearance: none !important;
                background: #2e363e;
                height: 2px;
                width: 100px;
                margin-top: .5rem;

                &::-webkit-slider-thumb {
                    appearance: none !important;
                    -webkit-appearance: none !important;
                    background: #2e363e;
                    height: 7px;
                    width: 7px;
                    border-radius: 100%;

                    &:hover {
                        height: 15px;
                        width: 15px;
                    }
                }
            }

            &.active {

                svg {
                    color: #9c3cbb;
                }

                p {
                    color: #9c3cbb;
                }
            }
        }
    }

    &.open {
        bottom: 150px;
    }
}

@media screen and (min-width: 1024px) {

    .playercontrols-styled {
        height: 80px;
    }
}

// Animations
@keyframes spinClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}