.sidebar-styled {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    height: 100%;
    width: 100%;

    background: #07001c;
    color: #fff;

    padding: 1rem;

    padding-bottom: 150px;

    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .25rem;

        width: 100%;

        .header-logo {
            width: 32px;
        }

        .header-title {
            font-size: 1.2rem;
        }
    }

    .sidebar-focus {

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;

        width: 100%;

        .focus-button {
            background: #2e363e;
            color: #bdbebf;
            text-transform: uppercase;

            padding: .5rem 1rem;

            border: none;
            border-radius: .15rem;

            font-size: small;

            cursor: pointer;

            &.active {
                background: #9c3cbb;
                color: #07001c;
            }
        }
    }

    .sidebar-playlist {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        .playlist-title {
            text-transform: uppercase;
        }

        .playlist-next {
            background: none;
            border: none;
        }
    }

    .sidebar-spacer {
        border-bottom: 1px solid #2e363e;
        width: 100%;
    }

    .sidebar-tracks {

        width: 100%;
        overflow-y: scroll;
        padding-bottom: 1rem;

        .track-list {

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.25rem;

            height: 100%;
            width: 100%;

            .track {
                font-size: 13px;
                cursor: pointer;

                &.active {
                    color: #9c3cbb;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .sidebar-styled {
        margin-bottom: 80px;
    }
}